@import url("global.css");
@import url("sections/presentation.css");
@import url("sections/about-me.css");
@import url("sections/skills.css");
@import url("sections/projects.css");
@import url("sections/contact.css");
@import url("footer.css");