.about-me {
  background-color: #f6f7f9;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding-block: 5rem;
}

.cards-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;

  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  font: var(--paragraph-sm);
  color: var(--content-primary);

  svg {
    color: var(--tech-green);
  }

  span {
    font: var(--title-sm);
    color: #000000;
  }
}

.card:hover {
  border-color: var(--tech-green);
  cursor: pointer;
}

@media (min-width: 1440px) {
  .cards-group {
    max-width: 72rem;
    margin: auto;
  }

  .card {
    max-width: 23rem;
  }

}

@media (min-width: 1024px) and (max-width: 1439px) {

  .card {
    width: 20rem;
  }

}

@media (min-width: 768px) {
  .cards-group {
    flex-direction: row;
    justify-content: center;
  }
}
