.projects {
  width: 100%;
  background-color: #f6f7f9;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.projects-list {
  max-width: 72rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  padding: 1.5rem;

  & > span:nth-child(1) {
    font: var(--title-sm);
    color: #000000;
  }

  p {
    font: var(--paragraph-sm);
    color: var(--content-primary);
  }
}

.project-card:hover {
  border-color: var(--tech-green);
}

.project-skills {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font: var(--text-tag);
  color: var(--tech-green);
  border-bottom: 1px solid #dfdddd;
  padding-bottom: 1rem;

  span {
    padding: 4px 8px;
    background-color: #eafaf4;
    border-radius: 0.25rem;
  }
}

.access-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.btn-md {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 8px 12px;
  background-color: var(--tech-green);
  font: var(--text-btn);
  font-weight: 500;
  color: #ffffff;
  border-radius: 0.5rem;
}

.btn-md:hover {
  background-color: var(--tech-green-hover);
  cursor: pointer;
}

.access-buttons a:nth-child(2) {
  background-color: #313642;
  color: var(--tech-green);
  border: 1px solid var(--tech-green);
}

.access-buttons a:nth-child(2):hover {
  background-color: var(--content-secondary);
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .project-card {
  }
}
