.skills {
  background-color: #191d24;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-block: 5rem;

  h3 {
    color: #ffffff;
  }
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  margin: auto;
}

.skill-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  span {
    font: var(--title-sm);
    color: var(--tech-green);
  }
}

ul {
  display: flex;
  gap: 0.5rem;
}

li {
  padding: 0.125rem 0.625rem;
  border-radius: 1rem;
  background-color: #ffffff;
  font: var(--text-tag);
  color: #000000;
}

@media (min-width: 1440px) {
  .skills-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 72rem;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .skills-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .skills-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
